a{
	text-decoration: none;
	color: #363;
}
a:hover{
	color: #9C9;
}
p{
	margin: 0;
	margin-top: 10px;

	text-align: center;
}
ul{
	margin: 0;
}
table{
	margin: 0 auto;
	margin-bottom: 15px;
	border-collapse: collapse;
	max-width: 95%;
}
table, th, td{
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	/* border: none; */
}
th{
	background: #CFC;
	color: #363;
}
td{
	padding: 5px 15px;
}
#container{
	margin: 0 auto;
	width: 500px;
}
.containtsBox{
	padding: 5px;
	margin-bottom: 15px;

	border: 1px solid #CCC;
}
.linkBox{
	margin: 0 auto;
	padding: 5px;
	width: 50%;

	background: #CFC;
	border-radius: 10px;
	border: 2px solid #CFC;

	text-align: center;
}
.answerBox{
	min-width: 200px;
	max-width: 300px;
	min-height: 50px;
	max-height: 150px;
}
.linkBox:hover{
	border: 2px solid #696;
	color: #9C9;
}