*{
	font-family: Meiryo;
	font-size: 12pt;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #363;
}
img{
	vertical-align: bottom;
}
p{
	margin: 0;
	margin-top: 10px;

	text-align: center;
}
ul{
	margin: 0;
	max-width: 270px;
}
li{
	margin: 10px 0;
}
table{
	margin: 0 auto;
	margin-bottom: 15px;
	border-collapse: collapse;
	max-width: 95%;
}
table, th, td{
	border-top: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	font-size: 10pt;
}
th{
	background: #CFC;
	color: #363;
}
td{
	padding: 10px 15px;
}
input, textarea{
	width: 180px;
	padding: 5px;
	border: 2px solid #CCC;
	border-radius: 5px;

	font-family: Meiryo;
	font-size: 10pt;
}
textarea{
	width: 180px;
	min-width: 180px;
	max-width: 180px;
	min-height: 50px;
	max-height: 300px;
}
.submit{
	border: none;
	background: #EEE;
	color: #333;
}
.attention{
	background: #FCC;
}
#container{
	margin: 0 auto;
	width: 500px;
}
.containtsBox{
	padding: 5px;
	margin-bottom: 15px;

	position: relative;

	border: 1px solid #CCC;
}
.finishState{
	margin: 30px;
	font-size: 16pt;
}
.baseLink{
	padding: 0 154px;
}
.linkBox{
	padding: 5px;

	background: #CFC;
	border-radius: 5px;

	text-align: center;
}
.linkBox:hover{
	background: #9F9;
	color: #030;
}
.submit:hover{
	background: #CCC;
	cursor: pointer;
}
.attention:hover{
	background: #F99;
	color: #633;
	cursor: pointer;
}
.userUpdateButton{
	width: 60px;
}
.caution{
	color: #666;
	margin: 0;
	text-align: left;
}
.caution table{
	border-collapse: collapse;
	max-width: 95%;
	min-width: 300px;
}
.caution table, .caution td{
	border: none;
	font-size: 8pt;
}
.caution td{
	padding: 0;
	padding: 10px 0;
}